.container {
    max-width: 100%;
    padding-top: 30px;
}

.containerWrapper {
    margin-left: 130px;
    max-width: 1376px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapperButton {
    margin-left: 100px;
}


.burger {
    display: none;
}

.inactiveMenuBurger {
    display: none;
}

.burgerMenuWrapper {
    max-width: 250px;
    height: 1430px;
    padding-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BurgerWrapper {
    border-left: 2px solid black;
    z-index: 2;
}

.activeMenuBurger {
    max-width: 100%;
    background-color: #E4E5E7;
    display: block;
}

.logo {
    cursor: pointer;
    width: 278px;
    height: 43px;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-left: 50px;
}

.link:nth-child(1) {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-left: 0;
}

.buttonLog {
    text-decoration: none;
    cursor: pointer;
    margin-right: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D0FF49;
    border-radius: 10px;
    width: 94px;
    height: 37px;
}

.buttonReg {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #D0FF49;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    width: 159px;
    height: 42px;
}

@media screen and (max-width: 1680px) {
    .containerWrapper {
        margin-left: 40px;
        max-width: 1290px;
    }
}

@media screen and (max-width: 1440px) {
    .containerWrapper {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .containerWrapper {
        margin-left: 30px;
        max-width: 1376px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .logo {
        width: 200px;
    }

    .link {
        margin-left: 20px;
    }

    .link:nth-child(2) {
        margin-left: 20px;
        width: 47px;
    }

    .wrapperLink {
        display: flex;
        align-items: center;
    }

    .wrapperButton {
        margin-left: 5px;
    }

    .buttonReg {
        width: 130px;
    }

    .buttonLog {
        width: 70px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 820px) {
    .buttonLog {
        text-decoration: none;
        cursor: pointer;
        margin-right: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #D0FF49;
        border-radius: 10px;
        width: 94px;
        height: 37px;
    }

    .link {
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        text-decoration: none;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo {
        cursor: pointer;
        width: 260px;
        height: 43px;
    }

    .containerWrapper {
        margin-left: 20px;
        max-width: 1376px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .burger {
        position: absolute;
        top: 40px;
        right: 0;
        cursor: pointer;
        margin-right: 20px;
        display: block;
    }

    .wrapper {
        display: none;
    }

    .wrapperButton {
        margin-left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .linkWrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .containerWrapper {
        margin-left: 0;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burgerMenuWrapper {
        width: 100px;
        padding-right: 20px;
        padding-top: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        cursor: pointer;
        width: 200px;
        height: 43px;
    }
}