.page-link {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-link:hover {
    transition: .2s ease;
    border: 2px solid #A5CA3B;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
  }
  
  .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
    /* pointer-events: none; */
  }

  .page-item.disabled .page-link:hover {
    border: 1px solid black;
    box-shadow: none;
  }
  
  .page-item__number {
    cursor: default;
  }
  
  .page-number {
    font-size: 18px;
    margin: 0 20px;
  }
  