.container {
    max-width: 100%;
    /* width: 1376px; */
}

.wrapper {
    padding-bottom: 150px;
    max-width: 1920px;
    margin: 0 auto;
}

.messengerWrapper {
    width: 1000px;
    height: 700px;
    display: flex;
    grid-column-gap: 50px;
    margin: 0 auto;
}

.userList {
    border: 1px solid red;
    width: 400px;
}

.dialog {
    height: 630px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
}

.inputContainer {
    
}

.input {
    width: 550px;
    height: 20px;
    resize: none;
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 5px 40px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.imageWrapper {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
    left: 565px;
    bottom: 32px;

}

.sendImage {
    cursor: pointer;
}

.dialogContainer {
    width: 600px;
}