.container {
    max-width: 100%;
    /* width: 1376px; */
}

.wrapper {
    padding-bottom: 150px;
    max-width: 1920px;
    margin: 0 auto;
}

.messengerWrapper {
    width: 1000px;
    height: 700px;
    display: flex;
    grid-column-gap: 50px;
    margin: 0 auto;
}

.userList {
    width: 400px;
}

.dialog {
    height: 630px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
}

.inputContainer {
    
}

.input {
    width: 550px;
    height: 20px;
    resize: none;
    font-size: 14px;
    font-family: 'Montserrat';
    padding: 5px 40px 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.imageWrapper {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
    left: 565px;
    bottom: 32px;

}

.sendImage {
    cursor: pointer;
}

.dialogContainer {
    width: 600px;
}

.img {
    width: 65px;
    height: 65px;
    border-radius: 100px;
    object-fit: cover;
}

.userListWrapper {
    display: flex;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.userListWrapper:hover {
    transition: .2s ease;
    border: 2px solid #A5CA3B;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.textWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.funcImage {
    display: flex;
    gap: 10px;
}

.icon {
    cursor: pointer;
}

.name {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 0;
}

.wrappWrapper {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job {
    font-size: 14px;
    font-family: 'Montserrat';
    margin: 0;
}


.warningWrapper {
    max-width: 1920px;
    display: flex;
    justify-content: center;
}