.container {
    max-width: 100%;
}

.containerWrapper {
    background-image: url(../../../assets/images/Frame6.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    max-width: 1920px;
}

.title {
    height: 120px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 134px;
    line-height: 163px;
    text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

.lowTitle {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #57595F;
}

.aboutWrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutInfo {
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.text {
    position: absolute;
    top: 1243px;
    left: 123px;
    width: 541px;
    height: 180px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 130.9%;
}

.wrappInfo {
    max-width: 539px;
    height: 514px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 7em;
    margin-left: 684px;
}

.poligon {
    padding-top: 50px;
}

.about {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 130.9%;
    color: #D0FF49;
}

.smallAbout {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130.9%;
    text-align: center;
    color: #000000;
    margin: 0;
}

.wrappText {
    height: 203px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 820px) {
    .containerWrapper {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        background-image: none;
        margin: 0 auto;
    }

    .wrappInfo {
        max-width: 350px;
        height: 300px;
        margin-left: 0;
        justify-content: center;
        grid-column-gap: 100px;
        grid-row-gap: 0;
    }

    .wrappText {
        width: 180px;
        height: 120px;
    }

    .wrappText:nth-child(1) {
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(2) {
        padding-left: 17px;
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(3) {
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(4) {
        width: 175px;
        height: 120px;

    }

    .about {
        font-size: 36px;
    }

    .aboutInfo {
        margin: 0;
    }

    .title {
        height: 71px;
        font-size: 51px;
    }

    .lowTitle {
        font-size: 24px;
    }

    .smallAbout {
        font-size: 24px;
    }
}

@media screen and (max-width: 425px) {
    .containerWrapper {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        background-image: none;
        margin: 0 auto;
    }

    .wrappInfo {
        max-width: 320px;
        height: 300px;
        margin-left: 0;
        justify-content: center;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }

    .wrappText {
        width: 180px;
        height: 120px;
    }

    .wrappText:nth-child(1) {
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(2) {
        padding-left: 17px;
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(3) {
        width: 150px;
        height: 120px;

    }

    .wrappText:nth-child(4) {
        width: 175px;
        height: 120px;

    }

    .about {
        font-size: 36px;
    }

    .aboutInfo {

        margin: 0;
    }

    .title {
        height: 71px;
        font-size: 41px;
    }

    .lowTitle {
        font-size: 24px;
    }

    .smallAbout {
        font-size: 24px;
    }
}