.container {
    max-width: 100%;
}

.containerWrapper {
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(../../../assets/images/Frame.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.titleWrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 828px;
    height: 298px;
}

.title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
}

.span {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    color: #D0FF49;
}

.text {
    margin: 0;
    margin-top: 118px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wrapper {
    display: grid;
    max-width: 1573px;
    /* height: 294px; */
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin-top: 114px;
    padding: 20px;
}

.blockWrapp {
    padding-left: 28px;
    border-left: 1px solid #FFFFFF;
    /* height: 294px; */
}

.numb {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 130px;
    line-height: 130.9%;
    color: #D0FF49;
}

.numbText {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 130.9%;
    color: #FFFFFF;
}

.button {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: #D0FF49;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    width: 256px;
    height: 48px;
    margin-top: 121px;
}

@media screen and (max-width: 1440px) {

    .text {
        margin-top: 20px;
    }

    .blockWrapp {
        max-width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0 10px;
        grid-column-gap: 0;
        margin: 0;
    }

    .blockWrapp {
        padding: 10px;
    }

    .numb {
        font-size: 70px;
    }

    .numbText {
        font-size: 18px;
    }

    .text {
        margin-top: 30px;
    }

    .button {
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 820px) {
    .containerWrapper {
        background-image: none;
        background-color: #383838;
        margin: 0;
        display: flex;
    }

    .span {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 67px;
        text-align: center;
        text-transform: uppercase;
        color: #D0FF49;
    }

    .title {
        max-width: 550px;
        font-size: 30px;
        line-height: 10px;
    }

    .titleWrapp {
        max-width: 550px;
        height: 175px;
        margin: 0;
        padding: 0 10px;
    }

    .text {
        margin-top: 30px;
        font-size: 37px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 700px;
        grid-row-gap: 3rem;
        max-height: 500px;
        justify-content: space-between;
        margin: 0;
    }

    .numb {
        height: 50px;
        font-size: 44px;
    }

    .numbText {
        max-width: 400px;
        font-size: 18px;
    }

    .blockWrapp {
        width: 250px;
        height: 95px;
        margin-right: 0;
    }

    .blockWrapp:nth-child(4) {
        width: 250px;
        height: 70px;
        margin-right: 0;

    }

    .blockWrapp:nth-child(3) {
        width: 250px;
        height: 73px;
        margin-right: 0;

    }

    .blockWrapp:nth-child(2) {
        width: 250px;
        height: 95px;
        margin-right: 0;

    }

    .content {
        max-width: 580px;
        padding: 15px 15px 30px 30px;
    }

    .button {
        margin: 40px 0 40px 0;
    }
}

@media screen and (max-width: 425px) {
    .containerWrapper {
        background-image: none;
        background-color: #383838;
        margin: 0;
    }

    .span {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 67px;
        text-align: center;
        text-transform: uppercase;
        color: #D0FF49;
    }

    .title {
        max-width: 380px;
        font-size: 20px;
        line-height: 10px;
    }

    .titleWrapp {
        max-width: 414px;
        height: 175px;
        margin: 0;
    }

    .text {
        margin-top: 30px;
        font-size: 31px;
    }

    .wrapper {
        display: flex;
        max-width: 370px;
        grid-row-gap: 3rem;
    }

    .numb {
        height: 50px;
        font-size: 44px;
    }

    .numbText {
        font-size: 18px;
    }

    .blockWrapp {
        max-width: 250px;
        height: 115px;
        margin-right: 80px;

    }

    .blockWrapp:nth-child(4) {
        max-width: 250px;
        height: 70px;
        margin-right: 90px;

    }

    .blockWrapp:nth-child(3) {
        max-width: 250px;
        height: 90px;
        margin-right: 98px;

    }

    .blockWrapp:nth-child(2) {
        max-width: 250px;
        height: 120px;
        margin-right: 77px;

    }

    .content {
        height: 610px;
        max-width: 330px;
    }

    .button {
        margin: 0 0 15px 0;
    }
}