.container {
    max-width: 100%;
    /* width: 1376px; */
}

.wrapper {
    margin: 0 auto;
    padding-bottom: 150px;
    max-width: 1920px;
}

.contentWrapper {
    display: flex;
    grid-column-gap: 50px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.FavoritesContainer {
    width: 830px;
}

.title {
    max-width: 1100px;
    margin: 0 auto 20px;
}

.button {
    cursor: pointer;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
}

.active {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #93B633;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 10px;
    outline: 0;
    transition: .2s ease;
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.bar {
    width: 210px;
    display: flex;
    flex-direction: column;
}

.profileWrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    width: 210px;
    height: 241px;
}

.name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
}

.currentPosition {
    padding-left: 10px;
}

.littleWrapp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.genderText {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
}

.location {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
}

.avatar {
    border: 2px solid black;
    border-radius: 100px;
    width: 124px;
    height: 124px;
    object-fit: cover;
}

.selector {
    width: 210px;
    margin: 28px 0;
}

.buttonWrapper {
    margin-left: 10px;
    display: flex;
    gap: 20px;
}

.textError {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0;
}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #93B633;
}