.container {
    max-width: 100%;
    /* width: 1376px; */
}

.containerwrapper {
    margin: 0 auto;
    padding-bottom: 250px;
    max-width: 1920px;
}

.title {
    width: 1024px;
    font-weight: 700;
    font-size: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    /* margin: 0 0 30px 385px; */
}

.SpecialistsContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarWrapper {
    margin-right: 250px;
    margin-bottom: 20px;
    display: flex;
    max-width: 1060px;
    height: 30px;
    justify-content: space-evenly;
}

.warning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.findInput {
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat';
    font-size: 12px;
    padding: 0 10px;
    height: 28px;
}

.createProject {
    text-decoration: none;
    font-family: 'Montserrat';
    color: #93b633;
}

.warningWrapper {
    width: 1000px;
    margin: 0 auto;
}

.findInput:hover {
    border: 1px solid #93b633;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.findInput:focus {
    border: 1px solid #93b633;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.selector {
    margin: 0 20px;
    width: 180px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
}

.findButton {
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #CFFF49;
    border: none;
    height: 30px;
}