.container {
    margin-left: 130px;
    width: 1376px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 278px;
    height: 43px;
}

.wrapper {}

.link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    margin-left: 50px;
}

.buttonLog {
    text-decoration: none;
    cursor: pointer;
    margin-right: 23px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #D0FF49;
    border-radius: 10px;
    width: 94px;
    height: 37px;
}

.buttonReg {
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #D0FF49;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 10px;
    width: 159px;
    height: 42px;

}