.container {
    max-width: 100%;
}

.containerWrapper {
    background-image: url(../../../assets/images/Frame3.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1920px;
}

.title {
    height: 107px;
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 134px;
    line-height: 163px;
    text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}

.lowTitle {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    color: #57595F;
}

.aboutWrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regWrapp {
    margin-top: 118px;
    /* max-width: 1660px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 37px 0 0 0;
}

.button {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    border: none;
    border-radius: 7px;
    background-color: #D0FF49;
    max-width: 540px;
    height: 60px;
    margin-left: 20px;
    padding: 0 30px;
}

.input {
    padding-left: 35px;
    margin-left: 20px;
    max-width: 540px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    border-radius: 7px;
    border: 1px solid #383838;
}

.input:nth-child(1) {
    margin-left: 0;
}

.formWrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 100px;
    }
}

@media screen and (max-width: 820px) {
    .containerWrapper {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .title {
        height: 70px;
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 163px;
        text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        color: rgb(255, 255, 255);
    }
    
    .lowTitle {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 67px;
        color: #57595F;
    }
    
    .aboutWrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .regWrapp {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    
    .text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 0;
    }
    
    .button {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        border: none;
        border-radius: 7px;
        background-color: #D0FF49;
        height: 50px;
        margin-left: 0;
        padding: 0 10px;
    }
    
    .input {
        padding: 10px;
        margin: 0 20px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        border-radius: 7px;
        border: 1px solid #383838;
    }
    
    .input:nth-child(1) {
        margin: 0;
    }
    
    .formWrapper {
        display: flex;
        padding: 15px;
        align-items: center;
        flex-wrap: wrap;
    }

    .textWrapper {
        padding: 0 10px;
    }
}

@media screen and (max-width: 425px) {
    .containerWrapper {
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title {
        height: 70px;
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 163px;
        text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        -webkit-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        -moz-text-shadow: 0px 1px 0 rgb(0, 0, 0, 0.1), 0px -1px 0 rgb(0, 0, 0, 0.1), 1px 0px 0 rgb(0, 0, 0, 0.1), -1px 0px 0 rgb(0, 0, 0, 0.1), 1px 1px 0 rgb(0, 0, 0, 0.1), 1px -1px 0 rgb(0, 0, 0, 0.1), -1px 1px 0 rgb(0, 0, 0, 0.1), -1px -1px 0 rgb(0, 0, 0, 0.1);
        color: rgb(255, 255, 255);
    }
    
    .lowTitle {
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 67px;
        color: #57595F;
    }
    
    .aboutWrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .regWrapp {
        margin-top: 0;
        display: block;
        padding: 0 15px;
    }
    
    .text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin: 0;
    }
    
    .button {
        cursor: pointer;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #000000;
        border: none;
        border-radius: 7px;
        background-color: #D0FF49;
        height: 40px;
        margin-left: 0;
    }
    
    .input {
        padding: 10px;
        margin-bottom: 10px;
        margin-left: 0;
        margin: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        border-radius: 7px;
        border: 1px solid #383838;
    }
    
    .input:nth-child(1) {
        margin-left: 0;
    }
    
    .formWrapper {
        display: flex;
        flex-direction: column;
    }

    .textWrapper {
        padding: 0 10px;
    }
}