.popup__register {
    position: fixed;
    width: 100%;
    height: 135%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: opacity 500ms linear, visibility 0.5s linear;
}

.popup__register_opened {
    display: flex;
    visibility: visible;
    transition: opacity 700ms linear, visibility 0s linear;
}

.auth__popup_register_container {
    width: 500px;
    height: 900px;
}

.auth__popup_register-wrapper {
    display: flex;
}

.popup__title {
    font-family: 'Montserrat';
    margin-top: 10px;
}

.popup__button_register-save {
    width: 300px;
    height: 35px;
    color: #000000;
    background-color: #DDE1E1;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popup__button_register-save:hover {
    border: 2px solid #93b633;
    transition: linear 0.3s;
    color: #93b633;
}

/* VALIDATE */

.text-field__input-reg__error .auth__main_input-bio__error {
    border-color: red;
    background-color: #DDE1E1;
    height: calc(2.5rem + 2px);
    padding: 0.5rem 0.75rem;
}

.auth__main_input-bio__error {
    width: 400px;
    height: 20px;
}

.text-field__input-reg__error {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #DDE1E1;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

.text-field__input-reg__error:focus {
    color: red;
    background-color: #DDE1E1;
    border-color: red;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(255, 0, 0);
}

.text-field__label-reg__error {
    position: absolute;
    top: 0%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: #DDE1E1;
    color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}
.text-field__label-reg__error {
    display: block;
    margin-bottom: 0.25rem;
}

/* VALIDATE */

.auth__main_reg-text {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.popup__register_container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE1E1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    /* padding: 0 15px; */
    position: relative;
    overflow: auto;
}

.auth__main_reg-input__user_wrapper {

}

.auth__popup_wrapp-wrapper {
    display: flex;
    align-items: center;
}

.auth__main_register-input__user_wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth__main_input-name {
    width: 400px;
    height: 20px;
}

.auth__main_input-bio {
    width: 400px;
    height: 20px;
}

.text-field__input-registr {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}





/* text field */
.text-field-reg {
    margin-bottom: 1rem;
}

.text-field__label-reg {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input-reg {
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input-reg[type="search"]::-webkit-search-decoration,
.text-field__input-reg[type="search"]::-webkit-search-cancel-button,
.text-field__input-reg[type="search"]::-webkit-search-results-button,
.text-field__input-reg[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input-reg::placeholder {
    color: #93b633;
    opacity: 0.4;
}

.text-field__input-reg:focus {
    /* color: #93b633; */
    background-color: #DDE1E1;
    border-color: #93b633;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.text-field__input-reg:disabled,
.text-field__input-reg[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

/* with floating label */
.text-field_floating-reg {
    position: relative;
}

.text-field_floating-reg .text-field__input-reg {
    background-color: #DDE1E1;
    height: calc(2.5rem + 2px);
    padding: 0.5rem 0.75rem;
}

.text-field_floating-reg .text-field__label-reg {
    position: absolute;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: #DDE1E1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.text-field_floating-reg .text-field__input-reg::-moz-placeholder {
    color: transparent;
}

.text-field_floating-reg .text-field__input-reg::placeholder {
    color: transparent;
}

.text-field_floating-reg .text-field__input-reg:focus~.text-field__label-reg,
.text-field_floating-reg .text-field__input-reg:not(:placeholder-shown)~.text-field__label-reg {
    top: 0;
    transform: translateY(-50%) scale(0.75);
}

.text-lable-reg {
    font-size: 12px;
}

.text__field_input {
    width: 551px;

}

.error-text {
    margin: 0;
    color: red;
}