.popup__button_register-save3 {
    width: 250px;
    height: 30px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.popup__button_register-save3:hover {
    border: 2px solid #93b633;
    transition: linear 0.3s;
    color: #93b633;
}

.popup__button_register-cancel3 {
    width: 250px;
    height: 30px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-bottom: 10px;
}
.popup__button_register-cancel3:hover {
    border: 2px solid red;
    transition: linear 0.3s;
    color: red;
}

.checkbox {
    padding-top: 5px;
    padding-left: 5px;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  /* для элемента label, связанного с .custom-checkbox */
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  /* создание в label псевдоэлемента before со следующими стилями */
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #93b633;
  }

  /* стили для активного чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {
    border-color: #93b633;
  }

  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked+label::before {
    border-color: #93b633;
    background-color: #93b633;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }

/* VALIDATE */

.text-field__input-reg__error3 .auth__main_input-bio__error3 {
    border-color: red;
    background-color: #DDE1E1;
    /* height: calc(2.5rem + 2px); */
    padding: 0.5rem 0.75rem;
}

.auth__main_input-bio__error3 {
    width: 380px;
    height: 20px;
}

.text-field__input-reg__error3 {
    display: block;
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

.text-field__input-reg__error3:focus {
    color: red;
    background-color: transparent;
    border-color: red;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(255, 0, 0);
}

.text-field__label-reg__error3 {
    position: absolute;
    font-size: 1rem;
    top: -15%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: transparent;
    color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}
.text-field__label-reg__error3 {
    font-size: 12px;
    padding-bottom: 7px;
    display: block;
    margin-left: 10px;
}

/* VALIDATE */

.auth__main_reg-text3 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.popup__register_container-wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE1E1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    /* padding: 0 15px; */
    position: relative;
    overflow: auto;
}

.auth__main_reg-input__user_wrapper3 {

}

.auth__popup_wrapp-wrapper3 {
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.auth__main_register-input__user_wrapper3 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth__main_input-name3 {
    width: 380px;
    height: 20px;
}

.auth__main_input-name_error {
    width: 810px;
    height: 80px;
}

.auth__main_input-name32 {
    width: 810px;
    height: 80px;
}

.text-input__textarea {
    resize: none;
}

.auth__main_input3 {
    width: 810px;
    height: 20px;
}

.auth__main_input-bio3 {
    width: 300px;
    height: 20px;
}

.text-field__input-registr3 {
    display: block;
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}





/* text field */
.text-field-reg3 {
    margin-bottom: 1.5rem;
}

.text-field__label-reg3 {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input-reg3 {
    /* display: block; */
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input-reg3[type="search"]::-webkit-search-decoration,
.text-field__input-reg3[type="search"]::-webkit-search-cancel-button,
.text-field__input-reg3[type="search"]::-webkit-search-results-button,
.text-field__input-reg3[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input-reg3::placeholder {
    color: black;
    opacity: 0.4;
}

.text-field__input-reg3:focus {
    /* color: #93b633; */
    background-color: transparent;
    border-color: #93b633;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.text-field__input-reg_error:focus {
    /* color: #93b633; */
    background-color: transparent;
    border-radius: 5px;
    border-color: red;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(255, 0, 0);
}

.text-field__input-reg_error {
    /* display: block; */
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input-reg3:disabled,
.text-field__input-reg3[readonly] {
    background-color: transparent;
    opacity: 1;
}

/* with floating label */
.text-field_floating-reg3 {
    position: relative;
    height: 40px;
    margin-bottom: 35px;
}

.text-field_floating-reg3 .text-field__input-reg3 {
    background-color: transparent;
    /* height: calc(2.5rem + 2px); */
    padding: 0.5rem 0.75rem;
}

.text-field_floating-reg3 .text-field__label-reg3 {
    position: absolute;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.span {
    position: absolute;
    transform: translateY(-50%) scale(0.75);
    left: 10px;
    top: -10px;
}

.auth__main_reg-input__user_wrapper3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-field_floating-reg3 .text-field__input-reg3::-moz-placeholder {
    color: transparent;
}

.text-field_floating-reg3 .text-field__input-reg3::placeholder {
    /* color: transparent; */
}


.text-field_floating-reg3 .text-field__input-reg3:focus~.text-field__label-reg3,
.text-field_floating-reg3 .text-field__input-reg3:not(:placeholder-shown)~.text-field__label-reg3 {
    top: -10px;
    transform: translateY(-50%) scale(0.75);
}

.text-lable-reg3 {
    font-size: 12px;
}

.text__field_input3 {
    width: 551px;

}

.error-text3 {
    margin: 0;
    color: red;
}