.popup__button_register-save4 {
    width: 250px;
    height: 30px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.popup__button_register-save4:hover {
    border: 2px solid #93b633;
    transition: linear 0.3s;
    color: #93b633;
}

.popup__button_register-cancel4 {
    width: 250px;
    height: 30px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    margin-bottom: 10px;
}
.popup__button_register-cancel4:hover {
    border: 2px solid red;
    transition: linear 0.3s;
    color: red;
}

/* VALIDATE */

.text-field__input-reg__error4 .auth__main_input-bio__error4 {
    border-color: red;
    background-color: transparent;
    /* height: calc(2.5rem + 2px); */
    padding: 0.5rem 0.75rem;
}

/* .auth__main_input-bio__error4 {
    width: 800px;
    height: 20px;
} */

.text-field__input-reg__error4 {
    display: block;
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid red;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}

.text-field__input-reg__error2:focus {
    color: red;
    background-color: transparent;
    border-color: red;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(255, 0, 0);
}

.text-field__label-reg__error4 {
    position: absolute;
    top: 0%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: transparent;
    color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}
.text-field__label-reg__error4 {
    display: block;
    margin-bottom: 0.25rem;
}

/* VALIDATE */

.auth__main_reg-text4 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.popup__register_container-wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDE1E1;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
    /* padding: 0 15px; */
    position: relative;
    overflow: auto;
}

.auth__main_reg-input__user_wrapper4 {

}

.auth__popup_wrapp-wrapper4 {
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.auth__main_register-input__user_wrapper4 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.auth__main_input-name4 {
    width: 810px;
    height: 20px;
}

.auth__main_input-name_error4 {
    width: 810px;
    height: 20px;
}

.auth__main_input-date4 {
    width: 380px;
    height: 20px;
}

.text-input__textarea {
    resize: none;
}

.auth__main_input4 {
    width: 810px;
    height: 20px;
}

.auth__main_input-bio4 {
    width: 300px;
    height: 20px;
}

.text-field__input-registr4 {
    display: block;
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
}





/* text field */
.text-field-reg4 {
    margin-bottom: 1.5rem;
}

.text-field__label-reg4 {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input-reg4 {
    /* display: block; */
    /* height: calc(2.25rem + 2px); */
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input-reg4[type="search"]::-webkit-search-decoration,
.text-field__input-reg4[type="search"]::-webkit-search-cancel-button,
.text-field__input-reg4[type="search"]::-webkit-search-results-button,
.text-field__input-reg4[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.text-field__input-reg4::placeholder {
    color: black;
    opacity: 0.4;
}

.text-field__input-reg4:focus {
    /* color: #93b633; */
    background-color: transparent;
    border-color: #93b633;
    outline: 0;
    /* box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25); */
    box-shadow: 0 0 0 0.1rem rgb(164, 202, 59);
}

.text-field__input-reg4:disabled,
.text-field__input-reg4[readonly] {
    background-color: transparent;
    opacity: 1;
}

/* with floating label */
.text-field_floating-reg4 {
    position: relative;
    height: 40px;
    margin-bottom: 35px;
}

.text-field_floating-reg4 .text-field__input-reg4 {
    background-color: transparent;
    /* height: calc(2.5rem + 2px); */
    padding: 0.5rem 0.75rem;
}

.text-field_floating-reg4 .text-field__label-reg4 {
    position: absolute;
    top: 50%;
    left: 0.3125rem;
    display: flex;
    transform: translateY(-50%);
    pointer-events: none;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: top 0.1s ease-in-out, scale 0.1s ease-in-out;
}

.span {
    position: absolute;
    transform: translateY(-50%) scale(0.75);
    left: 10px;
    top: -10px;
}

.auth__main_reg-input__user_wrapper4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-field_floating-reg4 .text-field__input-reg4::-moz-placeholder {
    color: transparent;
}

.text-field_floating-reg4 .text-field__input-reg4::placeholder {
    /* color: transparent; */
}


.text-field_floating-reg4 .text-field__input-reg4:focus~.text-field__label-reg4,
.text-field_floating-reg4 .text-field__input-reg4:not(:placeholder-shown)~.text-field__label-reg4 {
    top: -10px;
    transform: translateY(-50%) scale(0.75);
}

.text-lable-reg4 {
    font-size: 12px;
}

.text__field_input4 {
    width: 551px;

}

.error-text4 {
    margin: 0;
    color: red;
}