.slide {
    margin: 0 auto 250px;
    background-image: url(../../assets/images/Frame5.svg);
    background-position: center;
    gap: 200px;
    height: 1856px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #FFFFFF;
    margin: 145px 0 155px;
  }
  
  .titleSpan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    text-align: center;
    color: #D0FF49;
    margin: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .square {
    width: 389px;
    height: 323px;
    background-color: #FFFFFF;
  }
  
  .titleWrap {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 25px 0 0;
  }